In [2]:
#Import the dependecies:

import pandas as pd
import gmaps
import requests

#Import API key:
from config import g_key

In [4]:
#Store earlier cities.csv as a dataframe:

city_data_df=pd.read_csv("Weather Data/cities.csv")
city_data_df.head(5)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Severo-Yeniseyskiy,RU,2022-09-15 02:10:30,60.3725,93.0408,40.98,70,29,2.59
1,1,Tura,IN,2022-09-15 02:10:30,25.5198,90.2201,72.84,99,100,5.08
2,2,Beatrice,US,2022-09-15 02:10:30,40.2681,-96.7470,79.27,50,0,10.36
3,3,Hirson,FR,2022-09-15 02:10:31,49.9226,4.0826,58.46,96,100,6.42
4,4,Bluff,NZ,2022-09-15 02:10:31,-46.6000,168.3333,46.80,74,77,30.13

In [5]:
#When you use gmaps, all datatypes for mapping must be either an integer or float:

city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Create a Maximum Temp Heatmap:

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
#Get the max temp:

#max_temp=city_data_df["Max Temp"]
#temps=[]

#for temp in max_temp:
#    temps.append(max(temp, 0))

In [21]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
#Make sure only 1 map of the earth is shown. 
#Add earth center  (30.0° N and 31.0° E)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights= [max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Maximum Temp Heatmap:

In [23]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
humidity = city_data_df["Humidity"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights= humidity, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Maximum Cloudiness Heatmap:

In [26]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
cloudiness = city_data_df["Cloudiness"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights= cloudiness, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Wind Speed Heatmap:

In [27]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
wind_speed = city_data_df["Wind Speed"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights= wind_speed, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temp value:

min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [35]:
# Filter the dataset to find the cities that fit this criteria:

preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                     (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Beatrice,US,2022-09-15 02:10:30,40.2681,-96.7470,79.27,50,0,10.36
6,6,Hithadhoo,MV,2022-09-15 02:10:32,-0.6000,73.0833,81.05,69,78,2.84
8,8,Atuona,PF,2022-09-15 02:10:32,-9.8000,-139.0333,77.05,72,7,15.61
10,10,Vaini,TO,2022-09-15 02:10:33,-21.2000,-175.2000,76.73,79,100,11.14
21,21,Kavieng,PG,2022-09-15 02:10:37,-2.5744,150.7967,83.59,70,17,14.54
22,22,Bengkulu,ID,2022-09-15 02:10:37,-3.8004,102.2655,81.00,69,81,0.38
24,24,Lorengau,PG,2022-09-15 02:10:38,-2.0226,147.2712,84.45,69,18,12.44
25,25,Majene,ID,2022-09-15 02:10:38,-3.5403,118.9707,80.83,71,100,7.99
26,26,Kloulklubed,PW,2022-09-15 02:10:38,7.0419,134.2556,83.95,74,98,10.80
37,37,Shingū,JP,2022-09-15 02:10:42,33.7333,135.9833,80.65,72,100,13.38

In [46]:
#To check if there are any row with NULL values:
# 1. check total number of rows

preferred_cities_df.count()

City ID       182
City          182
Country       182
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [47]:
# 2. Check the number of rows that have a NULL value:
preferred_cities_df.isnull().sum()

City ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [48]:
# 2. Check to see the number of rows that does NOT have NULL values:
preferred_cities_df.notnull().sum()

## Since the number of rows is the same as total rows. Therefore, it confirms nothing is missing.

City ID       182
City          182
Country       182
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [47]:
# 3. Alternatively, check the number of rows that have a NULL value:
preferred_cities_df.isnull().sum()

City ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [50]:
# in order to make sure our preferred_cities_df is not tampered with 
# while users filter, let's make a copy of it.

hotel_df=preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]= ""
hotel_df.head()

         City Country  Max Temp      Lat       Lng Hotel Name
2    Beatrice      US     79.27  40.2681  -96.7470
6   Hithadhoo      MV     81.05  -0.6000   73.0833
8      Atuona      PF     77.05  -9.8000 -139.0333
10      Vaini      TO     76.73 -21.2000 -175.2000
21    Kavieng      PG     83.59  -2.5744  150.7967

### Retreive Hotels from Nearby Search

In [51]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

### Create Maximum temp heatmap from a Hotel DataFrame

In [56]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [57]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [59]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))